.text-center {
    text-align: center !important;
}

// weight
.app-fw-600 {
    font-weight: 600 !important;
}
.app-fw-700 {
    font-weight: 700 !important;
}
.app-fw-800 {
    font-weight: 800 !important;
}
.app-fw-900 {
    font-weight: 900 !important;
}
